[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[color]
    ui = auto
